{% extends "base.html" %}

{% block content %}

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata ">
        <div class="d-flex flex-row justify-content-between mb-2">
          <div class="">
            <h4 class="mr-3 d-flex flex-row align-items-center" style="color: #007880;"
                href="#">{{ entry.author }}</h4>
            {% if entry.date|date:'F d, Y' == entry.updated|date:'F d, Y' %}
              <div>
                <small class="align-items-end font-weight-bold font-italic">
                  Posted:</small>
                <small class="text-muted  align-items-end" style="margin-right: 5px">
                {{ entry.date|date:'F d, Y' }}</small>
              </div>
            {% elif entry.date|date:'F d, Y' != entry.updated|date:'F d, Y' %}
              <div>
                <small class="align-items-end font-weight-bold font-italic">
                  Posted:</small>
                <small class="text-muted  align-items-end" style="margin-right: 5px">
                {{ entry.date|date:'F d, Y' }}</small>
  {#              separator between dates#}
                <small>|</small>
                <small class="align-items-end font-weight-bold font-italic"
                       style="margin-left: 5px"> Updated:</small>
                <small class="text-muted  align-items-end">
                {{ entry.updated|date:'F d, Y' }}</small>
              </div>
            {% endif %}
          </div>
          <div>
            <small class="text-muted d-flex flex-row justify-content-end">{{ entry.type }}</small>
            {% if entry.author == user %}
          <div class="d-flex flex-row justify-content-end mt-2 mb-2">
            <a class="btn btn-green btn-sm"
                 href="{% url "entry_update" pk=entry.id%}">Update Entry</a>
            <a class="btn btn-red btn-l-margin btn-sm"
                 href="{% url "entry_delete" pk=entry.id%}">Delete Entry</a>
          </div>
          {% endif %}
          </div>
        </div>


      </div>
      <h2 class="article-title mt-2">{{ entry.title }}</h2>
      <p class="article-content">{{ entry.content }}</p>

      <small class="article-footer bg-yellow key-bg">{{ entry.key_words }}</small>

    </div>
{#    {% if entry.author == user %}#}
{#      <div style="margin-top: 20px;">#}
{#        <a class="btn btn-green btn-sm"#}
{#             href="{% url "entry_update" pk=entry.id%}">Update Entry</a>#}
{#        <a class="btn btn-red btn-l-margin btn-sm"#}
{#             href="{% url "entry_delete" pk=entry.id%}">Delete Entry</a>#}
{#      </div>#}
{#    {% endif %}#}

  </article>

{% endblock content %}
