{% extends "base.html" %}
{#{% load bootstrap_icons %}#}

{% block content %}
  <h2 class="text-center"> Entry's History</h2>
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th class="text-center">Record #</th>
        <th class="text-center">Title</th>
        <th class="text-center">History Date/Time</th>
        <th class="text-center">Record</th>
{#        <th class="text-center">status</th>#}
        <th class="text-center">History Action</th>
        <th class="text-center">History User</th>
      </tr>
    </thead>
    <tbody>
      {% for t in object_list %}
        <tr>
          <td class="text-center"><a href="{% url 'history_detail' pk=t.history_id%}"
                                     target="_blank">{{ t.entry_number }}</a></td>
          <td>{{ t.title }}</td>
          <td class="text-center">{{ t.history_date|date:'F d, Y' }}</td>
          <td class="text-center">{{ t.get_record_display }}</td>
{#          <td class="text-center">{{ t.get_status_display }}</td>#}
          <td class="text-center">{{ t.get_history_type_display }}</td>
          <td class="text-center">{{ t.history_user }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
{% block extra_javascript %}


  <script>
      $(document).ready(function () {
      let table = $('#example').DataTable( {
          "paging": true,
          "searching": true,
          "autoWidth": false,
      }
      );
  } );
  </script>

{% endblock extra_javascript %}
