{% extends "base.html" %}


{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Entry</legend>
        <h3>Are you sure you want to delete the entry "{{ entry.title }}"</h3>
        <br>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
        <a class="btn btn-outline-secondary btn-l-margin"
           href="{% url "entry_detail" pk=entry.id%}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
