{% extends "base.html" %}

{% block content %}
  <form method="GET" action="." >
        <div class="form-row d-flex flex-row justify-content-between mb-4">


          <div class="form-group col-2">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search"
                         name="entry_number" placeholder="Entry #"/>
              </div>
          </div>
          <div class="form-group col-2">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search"
                         name="entry_status" placeholder="Status..."/>

              </div>
          </div>
          <div class="form-group col-3">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search"
                         name="entry_keywords" placeholder="Keywords..."/>
{#                    <span class="input-group-append">#}
{#                        <div class="input-group-text bg-transparent">#}
{#                            <i class="fa fa-search"></i>#}
{#                        </div>#}
{#                    </span>#}
              </div>
          </div>
          <div class="form-group col-3">
              <div class="input-group">
                  <input class="form-control py-2 border-right-0 border" type="search"
                         name="entry_type" placeholder="Type..."/>
{#                    <span class="input-group-append">#}
{#                        <div class="input-group-text bg-transparent">#}
{#                            <i class="fa fa-search"></i>#}
{#                        </div>#}
{#                    </span>#}
              </div>
          </div>
          <button type="submit"
                  class="btn btn-outline-steel btn-sm">Search</button>
        </div>



  </form>
  {% for entry in entries %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata d-flex flex-row justify-content-between">
            <div class="d-flex flex-row mb-2">
              <h3 class="mr-2 mb-0" style="color: #007880; font-size: 22px"
                 href="#">{{ entry.entry_number }}</h3>
{#              <a class="mr-2 mb-0" style="color: #007880; font-size: 22px"#}
{#                 href="{% url 'user_list' entry.author.username %}">{{ entry.author }}</a>#}
              <small class="text-muted d-flex align-items-end" style="margin-left: 10px;">
                {{ entry.updated|date:'F d, Y' }}</small>
            </div>
            <div>
              <small class="article-footer bg-yellow status-bg">{{ entry.get_status_display }}</small>
              <small class="article-footer bg-yellow status-bg">{{ entry.get_record_display }}</small>
              <small class="text-muted">{{ entry.type }}</small>
            </div>
          </div>
          <h2><a class="article-title mt-2" href="{% url 'entry_detail' pk=entry.id %}"
          >{{ entry.title }}</a></h2>
{#            Add style = white-space:nowrap to add 3 points at the end#}
          <p class="article-content  text-truncate"
             style="max-height: 70px; ">{{ entry.content }}</p>
          <small class="article-footer bg-yellow key-bg">{{ entry.key_words }}</small>

        </div>
      </article>
  {% endfor %}

  <a id="back-to-top" href="#" class="btn btn-lg back-to-top bg-secondary text-white"
     role="button">Back to top</a>

  <div class="d-flex justify-content-center">
{#  Show pagination of entries#}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-steel btn-sm mb-4 btn-l-margin" href="?page=1">First</a>
        <a class="btn btn-outline-steel btn-sm mb-4 btn-l-margin"
           href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

  {#    Show number of pages#}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-steel btn-sm mb-4 btn-l-margin" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-steel btn-sm mb-4 btn-l-margin" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-steel btn-sm mb-4 btn-l-margin"
           href="?page={{ page_obj.next_page_number }}"> ></a>
        <a class="btn btn-outline-steel btn-sm mb-4 btn-l-margin"
           href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock content %}

{% block extra_javascript %}

  <script>
    $(document).ready(function(){
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });
      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 100);
        return false;
      });
    });
  </script>

{% endblock extra_javascript %}
